<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{book.image.[0]}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{book.title}}</h3>
            <h4>$24.99</h4>
            <p class="card-text">{{book.summary}}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
        </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Author
        </div>
        <div class="card-body">
            <p>{{author.name}}</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        </div>
    </div>
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Genre
        </div>
        <div class="card-body">
            {{#each genre}}
            <p>{{this.name}}</p>
                {{/each}}
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="/" class="btn btn-success">BACK</a>
        </div>
    </div>
    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->
